@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./AirbnbCerealApp-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./AirbnbCerealApp-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./AirbnbCerealApp-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./AirbnbCerealApp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./AirbnbCerealApp-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./AirbnbCerealApp-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

